default_language_version:
    python: python3.10

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml


  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.7
    hooks:
      - id: ruff
        types_or: [python, jupyter]
        args: [--fix, --exit-non-zero-on-fix, --preview]

      - id: ruff-format
        args: [--preview]

  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.17
    hooks:
      - id: mdformat
        # exclusions to keep mdformat from breaking
        #  - docs/intro.md: grid layout
        #  - README.md: github admonintion
        exclude: "docs/intro.md|README.md"
        additional_dependencies:
          - mdformat-gfm
          - mdformat-admon
